<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

**Exercise 2: Create markdown cell with title of the notebook**

<h1>Data Science Tools and Ecosystem</h1>

---

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

---

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

*(1-3 Are the most common)*

4. Scala
5. Java
6. C++
7. Julia
8. JavaScript
9. PHP
10. Go
11. Ruby

*(4-11 all have their own unique use cases)*

---

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:

Python
1. NumPy
2. Pandas
3. Matplotlibbar charts.
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. PyTorch

R
1. dplyr
2. ggplot2
3. tidyr
4. caret
5. Shiny
6. glmnet

---

**Exercise 6 - Create a markdown cell with a table of Data Science tools**


| Data Science Tools |
|----------|
| Jupyter Notebooks  |
| Jupyter Lab  |
| R Studio   |
| Apache Zeppelin   |

---

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [12]:
''' In this simple arithmetic expression we perform arithmetic operations to manipulate numerical quantities. 
In this particular equation, the operation of multiplication is applied to the numbers 3 and 4, resulting in a product of 12. 
This product of 12 is then subjected to the operation of addition with the number 5, resulting in a sum of 17.'''

(3*4)+5

17

---

**Exercise 9 - Create a code cell to convert minutes to hours**

In [30]:
'''This will convert 200 minutes to hours, we use the integer division operator // to compute the number of whole hours in 200 minutes, 
and the modulus operator % to compute the remaining minutes. Then we make it look prety for the humans that will be reading this.'''

minutes = 200
hours = minutes // 60
remaining_minutes = minutes % 60
print("200 minutes is equal to", hours, "hours and", remaining_minutes, "minutes, or" f"{hours:2d}:{remaining_minutes:02d}", "hours")

200 minutes is equal to 3 hours and 20 minutes, or 3:20 hours

---
**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**

- Create markdown cell with title of the notebook
- Create a markdown cell to list data science languages
- Create a markdown cell to list data science libraries
- Create a markdown cell with a table of Data Science tools
- Create a code cell to convert minutes to hours

---
**Exercise 11 - Create a markdown cell to indicate the Author's name**

<h2>Author:</h2>

Quana